{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_user.css' %}">
    <title>{{ title }}</title>

</head>

<body>
    <div class="wrapper">
        {% if not header_is_none %}
            {% include 'include/header.html' %}
        {% endif %}
        {% block content %}

        {% endblock %}
    </div>
    <script>
        let csrf_token = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>